<nav class="navbar bg-white border-b border-gray-200 fixed top-0 md:left-[290px] left-0 right-0 z-40 flex items-center justify-between px-6 py-3 shadow-sm">

  <div class="flex items-center">
    <!-- Mobile Menu Icon -->
    <button id="mobile-menu-button" class="md:hidden mr-4 text-black hover:text-blue-600">
      <i class="fa-solid fa-bars"></i>
    </button>

    <!-- User Role -->
    <span class="text-xl font-bold text-black">
      {% if request.user.role.role == 'admin' %} 
          Admin 
      {% else %} 
          Vendor 
      {% endif %}
    </span>
  </div>

  <div class="flex items-center space-x-4">
    <!-- Greeting -->
    <span class="text-sm font-medium text-black">Hello, {{user.first_name}} {{user.last_name}}</span>

    <!-- Profile Icon -->
    <a href="" class="text-black hover:text-blue-600 transition-colors duration-200" title="Profile">
      <i class="fa-solid fa-user"></i>
    </a>

    <!-- Logout Icon -->
    <a href="{% url 'logout' %}" class="text-black hover:text-blue-600 transition-colors duration-200" title="Logout">
      <i class="fa-solid fa-right-from-bracket"></i>
    </a>
  </div>

</nav>
